anyio==3.3.4
asgiref==3.4.1
asttokens==2.0.5
channel-box==0.3.0
click==8.0.3
executing==0.8.1
h11==0.12.0
httptools==0.2.0
idna==3.3
python-dotenv==0.19.1
PyYAML==6.0
simple-print==1.5
six==1.16.0
sniffio==1.2.0
starlette==0.16.0
termcolor==1.1.0
uvicorn==0.15.0
uvloop==0.16.0
watchgod==0.7
websockets==10.0
